[Unit]
Description=Xray Service
Documentation=https://github.com/xtls
After=network.target nss-lookup.target

[Service]
User=root
Environment="XRAY_CONFIG1=/usr/local/etc/xray/config.json"
Environment="XRAY_CONFIG2=/usr/local/etc/xray/none.json"
#CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE  # Uncomment if needed
#AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE  # Uncomment if needed
#NoNewPrivileges=true  # Uncomment if needed
ExecStart=/usr/local/bin/xray run -config ${XRAY_CONFIG1}
ExecStartPost=/usr/local/bin/xray run -config ${XRAY_CONFIG2}  # Added line for second config
Restart=on-failure
RestartPreventExitStatus=23
LimitNPROC=10000
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
